{
  "resourceType": "Patient",
  "identifier": [
    {
      "system": "https://fhir.nhs.uk/Id/nhs-number",
      "value": "{{#PID-5}}{{#Field-2}}{{#Repetition-1}}{{#Component-0}}{{SubComponent-0}}{{/Component-0}}{{/Repetition-1}}{{/Field-2}}{{/PID-5}}"
    }
  ],
  "name": [
    {
      "family": "{{#PID-5}}{{#Field-4}}{{#Repetition-0}}{{#Component-0}}{{SubComponent-0}}{{/Component-0}}{{/Repetition-0}}{{/Field-4}}{{/PID-5}}",
      "given": [
        "{{#PID-5}}{{#Field-4}}{{#Repetition-0}}{{#Component-1}}{{SubComponent-0}}{{/Component-1}}{{/Repetition-0}}{{/Field-4}}{{/PID-5}}"
      ]
    }
  ]
}
