{
  "resourceType": "Practitioner",
  "name": [
    {
      "family": "{{#PRD-3}}{{#Field-1}}{{#Repetition-0}}{{#Component-0}}{{SubComponent-0}}{{/Component-0}}{{/Repetition-0}}{{/Field-1}}{{/PRD-3}}",
      "given": [
        "{{#PRD-3}}{{#Field-1}}{{#Repetition-0}}{{#Component-1}}{{SubComponent-0}}{{/Component-1}}{{/Repetition-0}}{{/Field-1}}{{/PRD-3}}"
      ],
      "prefix": [
        "{{#PRD-3}}{{#Field-1}}{{#Repetition-0}}{{#Component-4}}{{SubComponent-0}}{{/Component-4}}{{/Repetition-0}}{{/Field-1}}{{/PRD-3}}"
      ]
    }
  ]
}